@mixin header-position {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
@mixin  flex-ju-al-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-sp-bt-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin sub-menu {
  text-align: center;
  display: none;
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  top: 5vh;
  right: 0;
  left: -24px;
  margin: auto;
  white-space: nowrap;
  width: 200px;
  max-width: 200px;
  z-index: 1;
}
@mixin background-img {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
@mixin link {
  display: flex;
  align-items: end;
  color: $black;
  transition: color 0.2s ease;
  font-size: 0.875rem;
}
